.menu-mobile__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px 20px 0px;
  .menu-mobile__hlink {
    color: #fff;
    text-decoration: none;
    // height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .active {
    color: #617ae5;
  }
}
.menu-mobile__plink {
  width: 100%;
  height: 50px;
  background-color: #617ae5;
  border: 0px;
  border-radius: 0px;
  color: #fff;
  font-size: 20px;
}
.orange {
  background-color: #e28c0b;
}
