.menu-mobile__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px 20px 0px;
  .menu-mobile__hlink {
    color: #fff;
    text-decoration: none;
    // height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .active {
    color: #617ae5;
  }
}
