<app-header></app-header>
<section *ngIf="equipment.length > 0; else noData" class="equipment">
  <p-card
    class="p-card-login"
    styleClass="p-card-shadow"
    *ngFor="let element of equipment"
  >
    <div class="p-card__title">
      <span class="blue">{{ element.item.name }}</span>
    </div>
    <div class="p-card__content">
      <img src="{{ element.item.picture }}" />
      <ul class="info">
        <li>
          Brand: <span class="blue">{{ element.item.brand }}</span>
        </li>
        <li>
          Model: <span class="blue">{{ element.item.brandModel }}</span>
        </li>
        <li>
          Purchase date:
          <span class="blue">{{
            element.purchaseDate | date: "dd/MM/yy"
          }}</span>
        </li>
        <li>
          Number of immersions:
          <span class="blue">{{ element.numberOfImmersions }}</span>
        </li>
        <li>
          Maintenance check date:
          <span class="blue">
            {{ element.maintenanceCheckDate | date: "dd/MM/yy" }}
          </span>
        </li>
      </ul>
    </div>
  </p-card>
</section>
<ng-template #noData>
  <p-card class="immersion-cards" styleClass="p-card-shadow">
    No equipments for this user.
  </p-card>
</ng-template>
