.login {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  .login__form {
    display: flex;
    flex-direction: column;
    input {
      margin: 5px 0px;
    }
    button {
      margin-top: 20px;
    }
  }
}
@media (min-width: 600px) {
  .login {
    max-width: 500px;
  }
}
