<app-header></app-header>
<div class="dashboard">
  <div class="twoCardsRow">
    <p-card
      header="License"
      subheader=""
      class="p-card-small"
      styleClass="p-card-shadow"
    >
      <!--  -->
      <span
        class="big_blue"
        [ngClass]="{
          big_blue: restDaysCalc(user.licenseExpeditionDate) > 0,
          alert: restDaysCalc(user.licenseExpeditionDate) <= 0
        }"
      >
        {{ restDaysCalc(user.licenseExpeditionDate) }} days
      </span>
    </p-card>
    <p-card
      header="Immersions"
      subheader=""
      class="p-card-small"
      styleClass="p-card-shadow"
    >
      <span class="extraBig_blue">{{ immersions.length }} </span><br />
    </p-card>
  </div>
  <div class="oneCardsRow">
    <p-card
      header="Immersions als últims anys"
      subheader=""
      class="p-card-big"
      styleClass="p-card-shadow"
    >
      <p-chart
        type="bar"
        [data]="dataNumImmersions"
        [options]="chartBar_options"
        width="100%"
        height="200px"
      ></p-chart>
    </p-card>
  </div>
  <div class="twoCardsRow">
    <p-card
      header="Average dive time"
      subheader=""
      class="p-card-small"
      styleClass="p-card-shadow"
    >
      <span class="extraBig_blue">{{ averageDiveTime() }} </span><br />
      minutes
    </p-card>
    <p-card
      header="Max Depth"
      subheader=""
      class="p-card-small"
      styleClass="p-card-shadow"
    >
      <span class="extraBig_blue">{{ maxDepth() }} </span><br />metres
    </p-card>
  </div>
  <div class="oneCardsRow">
    <p-card
      header="Immersion air consumption (RMV)"
      subheader=""
      class="p-card-big"
      styleClass="p-card-shadow"
    >
      <p-chart
        type="line"
        [data]="dataConsumInfo"
        [options]="chartBar_options"
        width="100%"
        height="200px"
      ></p-chart>
    </p-card>
  </div>
  <!-- <div class="oneCardsRow">
    <p-card
      header="Revisións del Equip"
      subheader=""
      class="p-card-big"
      styleClass="p-card-shadow"
    >
      <ul>
        <li><span class="big_blue">Regulador</span> - 29/08/2023</li>
        <li><span class="big_blue">Primera etapa</span> - 29/08/2023</li>
        <li><span class="big_blue">Segona etapa</span> - 29/08/2023</li>
        <li>
          <span class="big_blue">Jacket</span> -
          <span class="alert">29/08/2021</span>
        </li>
      </ul>
    </p-card>
  </div> -->
  <div class="oneCardsRow">
    <p-card
      header="Locations"
      subheader=""
      class="p-card-big"
      styleClass="p-card-shadow"
    >
      <p-gmap
        #gmap
        [style]="{ width: '100%', height: ' 200px' }"
        [options]="map_options"
        [overlays]="map_overlays"
        (onOverlayClick)="handleOverlayClick($event)"
      ></p-gmap>
    </p-card>
  </div>
</div>
