<app-header></app-header>
<div class="card mt-4">
  <ul *ngIf="user">
    <!-- <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li> -->
    <li>{{ user.name }}</li>
    <li>{{ user.surnames }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.licenseExpeditionDate }}</li>
    <li>{{ user.licenseNumber }}</li>
    <li>{{ user.medicalCheckDate }}</li>
    <li>
      name: {{ user.center.name }}
      <br />
      latitude: {{ user.center.latitude }}
      <br />
      longitude: {{ user.center.longitude }}
    </li>
    <!-- <li>
      equipment
      <ul>
        <li *ngFor="let item of user.equipment">{{ item.item }}</li>
      </ul>
    </li> -->
    <!--  <li>
      immersions
      <ul>
        <li *ngFor="let immersion of user.immersions">
          {{ immersion.place.name }}
        </li>
      </ul>
    </li> -->
    <!-- <li>
      certifications
      <ul>
        <li *ngFor="let certif of user.certifications">{{ certif.name }}</li>
      </ul>
    </li>
    <li>
      buddies
      <ul>
        <li *ngFor="let buddie of user.buddies">{{ buddie.name }}</li>
      </ul>
    </li> -->
  </ul>
  <img *ngIf="user" src="{{ user.picture }}" alt="{{ user.name }}" />
</div>
