.profile {
  width: 80%;
  margin: 40px auto;
  .profile_avatar {
    width: 25%;
    float: right;
    margin: 5% 5% 0 0;
  }
  .profile__card {
    clear: both;
    margin-bottom: 100px;
    .profile__info {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      // flex-wrap: wrap;
      .profile__label {
        color: #617ae5;
      }
      .profile__data {
        margin-left: 10px;
      }
      .profile__buddy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        .profile__buddy-avatar {
          width: 15%;
          margin: 5px 10px;
        }
      }
      .form-control {
        width: 100%;
        span {
          width: 100%;
        }
      }
      .separator {
        border-top: 1px solid #617ae578;
        padding-top: 10px;
      }
    }
    .profile__form {
      .profile_save_btn {
        width: 100%;
        background-color: #617ae5;
        border-color: #617ae5;
      }
      .profile_cancel_btn {
        width: 100%;
        background-color: #e28c0b;
        border-color: #e28c0b;
      }
    }

    .p-float-label {
      margin: 20px 0;

      .arrayAdd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .arrayItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .certification_Modal {
        .p-float-label {
          margin-top: 30px;
        }
        .p-float-label:first-child {
          margin-top: 40px;
        }
        .certification_Modal__footer {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .profile {
    margin: 40px auto;
    .profile_avatar {
      max-width: 256px;
      max-height: 256px;
      margin: 1% 1% 0 0;
    }
    .profile__info {
      display: flex;
      flex-direction: column;
    }
  }
}
