/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Fjalla One", sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(https://i.ibb.co/nM2m2pQ/background.png),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      rgba(97, 122, 229, 1) 51%,
      rgba(38, 48, 92, 1) 100%
    );
  background-repeat: no-repeat;
  background-position: bottom;

  //Panel component for menu-mobile
  .p-component {
    font-family: "Fjalla One", sans-serif;
  }
  .menu-mobile {
    .p-panel {
      .p-panel-header {
        background-image: url("https://i.ibb.co/HND73YY/logoV3.png");
        background-position: 20px;
        background-repeat: no-repeat;
        background-color: #212529;
        height: 83px;
      }
      .p-panel-content {
        background-color: #212529;
        padding: 0px;
        border: 0px;
      }
    }
    // Action Button
    .menu-mobile__plink {
      width: 100%;
      height: 50px;
      background-color: #617ae5;
      border: 0px;
      border-radius: 0px;
      color: #fff;
      font-size: 20px;
    }
    .orange {
      background-color: #e28c0b;
    }
  }
  .messages-popup {
    position: fixed;
    bottom: 0;
    left: 20px;
  }
}
/*Custom buttons of form profile*/
.menu-mobile__plink {
  margin-top: 20px;
  width: 100%;
  background-color: #617ae5;
  border-color: #617ae5;
}
.profile {
  .p-button {
    background-color: #617ae5;
    border-color: #617ae5;
  }
}

.p-button-addNew {
  .p-button {
    height: 30px;
  }
}
.p-button-delete {
  .p-button {
    height: 30px;
    background-color: #e28c0b;
    border-color: #e28c0b;
  }
}
.modal_cancel_btn {
  display: flex;
  justify-content: center;
  .p-button {
    background-color: #e28c0b;
    border-color: #e28c0b;
  }
}

/*Custom buttons of form immersions*/

.p-card-login {
  .p-button {
    margin-top: 10px;
    background-color: #617ae5;
    border-color: #617ae5;
  }
  .orange {
    background-color: #e28c0b;
    border-color: #e28c0b;
  }
}

/*Custom styles for dashboard*/
.p-card-small {
  width: 45%;
  .p-card {
    height: 150px;
    text-align: center;
    margin: 15px 0px;
    .p-card-title {
      font-size: 18px;
    }
    .big_blue {
      font-size: 35px;
      color: #617ae5;
    }
    .alert {
      font-size: 35px;
      color: #e28c0b;
    }
    .extraBig_blue {
      font-size: 40px;
      color: #617ae5;
    }
  }
}
.p-card-big {
  .p-card {
    text-align: center;
    margin: 15px 0px;
    .p-card-title {
      font-size: 18px;
    }
  }
}
//adapt no immersion card
.immersion-cards {
  .p-card {
    width: 340px;
    margin: 40px auto;
    text-align: center;
  }
}
//adapt no immersion card
.equipment-cards {
  .p-card {
    width: 340px;
    margin: 40px auto;
    text-align: center;
  }
}

/*Custom buttons of form login*/
@media (min-width: 600px) {
  body {
    background-size: contain;
  }
  .equipment-cards {
    .p-card-login {
      width: 325px;
    }
  }
}
