<header class="login_header">
  <h1>
    <img src="https://i.ibb.co/HND73YY/logoV3.png" alt="logo" border="0" />
  </h1>
</header>
<p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
<p-card
  header="Register"
  subheader="Sign in for access to DIVE.cat"
  class="p-card-register"
  [style]="{ width: '90%' }"
  styleClass="p-card-shadow"
>
  <section class="register">
    <form class="register__form" method="post">
      <!-- <input
        type="text"
        [(ngModel)]="user.name"
        name="name"
        placeholder="name"
        required="required"
      /> -->
      <span class="p-float-label">
        <input
          name="name"
          class="form-control"
          [(ngModel)]="user.name"
          type="text"
          required="required"
          id="input_name"
          pInputText
        />
        <label for="input_name">Name</label>
      </span>

      <!-- <input
        type="text"
        [(ngModel)]="user.surnames"
        name="surnames"
        placeholder="surnames"
        required="required"
      /> -->
      <span class="p-float-label">
        <input
          name="surnames"
          class="form-control"
          [(ngModel)]="user.surnames"
          type="text"
          required="required"
          id="input_surnames"
          pInputText
        />
        <label for="input_surnames">Surnames</label>
      </span>
      <!-- <input
        type="email"
        [(ngModel)]="user.email"
        name="email"
        placeholder="Email"
        required="required"
      /> -->
      <span class="p-float-label">
        <input
          name="email"
          class="form-control"
          [(ngModel)]="user.email"
          type="text"
          required="required"
          id="input_email"
          pInputText
        />
        <label for="input_email">E-mail</label>
      </span>
      <!-- <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        placeholder="Password"
        required="required"
      /> -->
      <span class="p-float-label">
        <input
          name="password"
          class="form-control"
          [(ngModel)]="user.password"
          type="password"
          required="required"
          id="input_password"
          pInputText
        />
        <label for="input_password">Password</label>
      </span>
      <!-- <input
        type="password"
        [(ngModel)]="user.confirmPassword"
        name="password"
        placeholder="Repeat the password"
        required="required"
      /> -->
      <span class="p-float-label">
        <input
          name="password"
          class="form-control"
          [(ngModel)]="user.confirmPassword"
          type="password"
          required="required"
          id="input_confirmPassword"
          pInputText
        />
        <label for="input_confirmPassword">Repeat the password</label>
      </span>
      <!-- <button type="submit" (click)="register()">Register</button> -->
      <button
        pButton
        pRipple
        type="submit"
        label="Register"
        class="menu-mobile__plink"
        (click)="register()"
      ></button>
    </form>
    <!-- <div class="register__login-link">
      <a routerLink="/login">Login</a>
    </div> -->
  </section>
  <ng-template pTemplate="footer">
    <div class="login__register-link">
      <a routerLink="/login" class="login__register-link__btn">Log In</a>
    </div>
  </ng-template>
</p-card>
