<header class="login_header">
  <h1>
    <img src="https://i.ibb.co/HND73YY/logoV3.png" alt="logo" border="0" />
  </h1>
</header>
<p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
<p-card
  header="Register"
  subheader="Sign in for access to DIVE.cat"
  class="p-card-register"
  [style]="{ width: '90%' }"
  styleClass="p-card-shadow"
>
  <section class="register">
    <form
      class="register__form"
      method="post"
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
    >
      <span class="p-float-label">
        <input
          formControlName="name"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControlData.name.errors
          }"
          type="text"
          required="required"
          id="input_name"
          pInputText
        />
        <label for="input_name">Name</label>
      </span>
      <span class="p-float-label">
        <input
          formControlName="surnames"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControlData.surnames.errors
          }"
          type="text"
          required="required"
          id="input_surnames"
          pInputText
        />
        <label for="input_surnames">Surnames</label>
      </span>
      <span class="p-float-label">
        <input
          formControlName="email"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControlData.email.errors
          }"
          type="text"
          required="required"
          id="input_email"
          pInputText
        />
        <label for="input_email">E-mail</label>
      </span>
      <span class="p-float-label">
        <input
          formControlName="password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControlData.password.errors
          }"
          type="text"
          required="required"
          id="input_password"
          pInputText
        />
        <label for="input_password">Password</label>
      </span>
      <span class="p-float-label">
        <input
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && formControlData.confirmPassword.errors
          }"
          type="text"
          required="required"
          id="input_confirmPassword"
          pInputText
        />
        <label for="input_confirmPassword">Repeat the password</label>
      </span>
      <button
        pButton
        pRipple
        type="submit"
        label="Register"
        class="menu-mobile__plink"
      ></button>
    </form>
  </section>
  <ng-template pTemplate="footer">
    <div class="login__register-link">
      <a routerLink="/login" class="login__register-link__btn">Log In</a>
    </div>
  </ng-template>
</p-card>
