<app-header></app-header>
<section *ngIf="immersions.length > 0; else noData" class="immersion">
  <p-card
    class="p-card-login"
    [style]="{ width: '90%' }"
    styleClass="p-card-shadow"
    *ngFor="let imm of immersions; let i = index"
  >
    <a [routerLink]="['/immersions', immersions.length - i]">
      <div class="p-card__title">
        {{ immersions.length - i }} -
        <span class="blue">{{ imm.place.name }}</span> -
        {{ imm.date | date: "dd-MM-yy" }}
      </div>
      <div class="p-card__content">
        <img src="{{ imm.pictures[0].url }}" />
        <ul class="info">
          <li>
            Visibility: <span class="blue">{{ imm.visibility }}</span>
          </li>
          <li>
            Bottom time: <span class="blue">{{ setBottomTimeCard(i) }}</span>
          </li>
          <li>
            Depth:
            <span class="blue">
              {{ setDepthCard(i) }}
            </span>
          </li>
          <li *ngFor="let buddy of imm.buddies">
            Buddy: <span class="blue">{{ buddy.buddie.name }}</span>
          </li>
          <li>
            Validated by: <span class="blue">{{ setValidatorCard(i) }}</span>
          </li>
        </ul>
      </div>
    </a>
  </p-card>
</section>
<ng-template #noData class="immersion-cards">
  No immersions data of this user.
</ng-template>
