<app-header></app-header>
<p-card
  class="p-card-login"
  [style]="{ width: '90%' }"
  styleClass="p-card-shadow"
  (click)="showCertificationModalDialog()"
>
  <div class="p-card__title">
    {{ id }}- <span class="blue">{{ name }}</span> - {{ date }}
  </div>
  <div class="p-card__content">
    <img src="{{ picture }}" />
    <ul class="info">
      <li>Visibility: <span class="blue">Good</span></li>
      <li>Bottom time: <span class="blue">5 mins</span></li>
      <li>Depth: <span class="blue">40 m</span></li>
      <li>Buddy: <span class="blue">Paco, Cecilio</span></li>
      <li>Validated by: <span class="blue">David</span></li>
    </ul>
  </div>
</p-card>

<!-- <p-card
  class="p-card-login"
  [style]="{ width: '90%' }"
  styleClass="p-card-shadow"
  (click)="showCertificationModalDialog()"
>
  <div class="p-card__title">
    {{ id }}- <span class="blue">{{ name }}</span> - {{ date }}
  </div>
  <div class="p-card__content">
    <img src="{{ picture[0] }}" />
    <ul class="info">
      <li>Visibility: <span class="blue">Good</span></li>
      <li>Bottom time: <span class="blue">5 mins</span></li>
      <li>Depth: <span class="blue">40 m</span></li>
      <li>Buddy: <span class="blue">Paco, Cecilio</span></li>
      <li>Validated by: <span class="blue">David</span></li>
    </ul>
  </div>
</p-card> -->

<p-card
  class="p-card-immersion__detall p-card-login"
  [style]="{ width: '90%' }"
  styleClass="p-card-shadow"
>
  <div class="p-card__title">
    {{ id }}- <span class="blue">{{ name }}</span> - {{ date }}
  </div>
  <div class="p-card__content">
    <p-carousel [value]="pictures" [numVisible]="1" [numScroll]="1">
      <ng-template let-car pTemplate="item">
        <img src="{{ pictures[1] }}" />
      </ng-template>
    </p-carousel>
    <div class="p-card__content__twoColumnsRow">
      <ul class="info">
        <li>Visibility: <span class="blue">Good</span></li>
        <li>Bottom time: <span class="blue">5 mins</span></li>
        <li>Depth: <span class="blue">40 m</span></li>
        <li>Buddy: <span class="blue">Paco, Cecilio</span></li>
        <li>Validated by: <span class="blue">David</span></li>
      </ul>
      <div class="map">
        <img src="https://i.ibb.co/F0xNBDQ/map.jpg" />
        <!-- <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"></p-gmap> -->
      </div>
    </div>
    <div class="p-card__content__graphic"></div>
  </div>
  <button
    pButton
    pRipple
    type="button"
    label="Update"
    class="menu-mobile__plink"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    label="Ask for Validation"
    class="menu-mobile__plink"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    label="Delete"
    class="menu-mobile__plink orange"
  ></button>
</p-card>

<!-- <p-dialog
  [(visible)]="certificationModal"
  [modal]="true"
  [style]="{ width: '90%' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  class="p-card-item"
>
  <div class="p-dialog__title">
    {{ id }}- <span class="blue">{{ name }}</span> - {{ date }}
  </div>
  <div class="p-card__title__content">
    <img src="{{ picture }}" />
    <ul class="info">
      <li>Visibility: <span class="blue">Good</span></li>
      <li>Bottom time: <span class="blue">5 mins</span></li>
      <li>Depth: <span class="blue">40 m</span></li>
      <li>Buddy: <span class="blue">Paco, Cecilio</span></li>
      <li>Validated by: <span class="blue">David</span></li>
    </ul>
  </div>
</p-dialog> -->
