.p-card-login {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .p-card-body {
    width: 80%;
  }
  .p-card__title {
    font-size: 22px;
    margin-bottom: 15px;
    color: #000;
  }
  .p-card__content {
    color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    img {
      width: 165px;
    }

    .info {
      list-style: none;
      padding-left: 10px;
      li {
        margin-top: 5px;
      }
    }
  }
  .blue {
    color: #617ae5;
  }
}
.p-card-item {
  .p-dialog-header {
    display: none;
  }
  .p-dialog__title {
    font-size: 22px;
    margin-bottom: 15px;
    color: #000;
  }
}
.p-card-immersion__detall {
  .p-card__content {
    flex-direction: column;

    img {
      width: 100%;
    }
    .p-card__content__twoColumnsRow {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .info {
        width: 50%;
      }
      .map {
        width: 50%;
      }
    }
    .menu-mobile__plink {
      margin-top: 50px;
    }
  }
}
